.app-row {
  display: flex;
}

.app-cell {
  flex: 1 1;
  padding: 5px;
}

.app-cell div {
  border: 1px solid black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  padding: 30px 45px 55px 45px;
  border-color: black;
  width: 0;
  height: 0px;
  cursor: pointer;
}

.app-cell.block div {
  cursor: default;
}

.app-status {
  font-size: 2rem;
  color: blue;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.board {
  margin-top: 2rem;
}